<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>CloudChat</title>
  <link rel="stylesheet" href="index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/pouchdb/5.4.5/pouchdb.min.js"></script>
  <script type="module" src="index.js"></script>
</head>

<body>
  <main>
    <section class="login" v-if="!isLoggedIn">
      <label>Your nickname:</label>
      <input type="text" v-model="nickname" @keypress.enter="login()">
      <button @click="login()">Enter the chat room</button>
    </section>

    <section class="chatroom" v-if="isLoggedIn">
      <header>
        <label>Welcome, {{ nickname }}, and be nice!</label>
      </header>

      <section class="form">
        <label>Message:</label>
        <input type="text" v-model="message" @keypress.enter="send()">
        <button @click="send()">Send</button>
      </section>

      <section class="chat">
        <p class="message" v-for="message in messages">
          <i>{{ message.sender }} at {{ timeOf(message)}}:</i>
          <br>
          {{ message.text }}
        </p>
      </section>

      <footer>
        <button @click="logout()">Log out</button>
      </footer>

    </section>
  </main>
</body>

</html>